<a href="https://colab.research.google.com/github/vt-khang/UDPTDLTM-PersonalProject/blob/main/19120539.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>ĐỒ ÁN CÁ NHÂN: ỨNG DỤNG PHÂN TÍCH DỮ LIỆU THÔNG MINH</center>

- **Họ và tên:** Vương Thế Khang
- **MSSV**: 19120539

## Import

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
import plotly.express as px
import json

from urllib.request import urlopen

sns.set_theme(style = 'whitegrid')

## A. THU THẬP DỮ LIỆU

Bộ dữ liệu được cung cấp được dùng để phân tích và rút ra các kết luận dựa vào các số liệu thống kê về các tỷ phú trên thế giới. Thời gian dữ liệu được thu thập là trong năm 2023.

Theo như mô tả về bộ dữ liệu trên [Kaggle](https://www.kaggle.com/datasets/nelgiriyewithana/billionaires-statistics-dataset/data):

> Bộ dữ liệu này chứa số liệu thống kê về các tỷ phú trên thế giới, bao gồm thông tin về doanh nghiệp, lĩnh vực kinh doanh cũng và các thông tin cá nhân của họ. Điều này cung cấp một cái nhìn sâu sắc về sự phân bố tài sản, lĩnh vực kinh doanh và nhân khẩu học của các tỷ phú trên toàn thế giới.

Các file dữ liệu này bao gồm:

- "Billionaires Statistics Dataset.csv"

## B. KHÁM PHÁ DỮ LIỆU

Đầu tiên, ta sẽ xem thử bộ dữ liệu trông như thế nào. Đọc dữ liệu từ file "Billionaires Statistics Dataset.csv" và lưu vào dataframe `billion_df`.

In [ ]:
billion_df = pd.read_csv('https://raw.githubusercontent.com/vt-khang/UDPTDLTM-PersonalProject/main/Billionaires%20Statistics%20Dataset.csv')
billion_df.head()

### Dữ liệu có bao nhiêu dòng và bao nhiêu cột?

In [ ]:
billion_df.shape

Vậy dữ liệu có kích thước **2640 dòng x 35 cột**.

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Quan sát sơ bộ dữ liệu ta thấy mỗi dòng chứa thông tin của một tỷ phú, có vẻ như không có vấn đề các dòng có ý nghĩa khác nhau.

### Dữ liệu có các dòng bị lặp không?

Kiểm tra xem dữ liệu có các dòng bị lặp không và lưu kết quả vào biến `have_duplicated_row`. Biến này sẽ có giá trị `True` nếu dữ liệu có các dòng bị lặp và có giá trị `False` nếu ngược lại.

In [ ]:
have_duplicated_row = any(billion_df.duplicated())
have_duplicated_row

Như vậy, không có dòng nào bị lặp lại.

### Mỗi cột có ý nghĩa gì?

Ta sẽ lưu tên của tất cả các cột vào biến `billion_cols`.

In [ ]:
billion_cols = billion_df.columns
billion_cols

Mỗi cột của tập dữ liệu `billion_df` có ý nghĩa như sau:

| Cột | Ý nghĩa |
| --- | --- |
| **rank** | xếp hạng của mỗi tỷ phú theo mức độ giàu có |
| **finalWorth** | giá trị ròng cuối cùng của tỷ phú tính bằng đô-la Mỹ |
| **category** | danh mục hoặc lĩnh vực mà doanh nghiệp của tỷ phú hoạt động |
| **personName** | tên đầy đủ của tỷ phú |
| **age** | tuổi của tỷ phú |
| **country** | quốc gia nơi tỷ phú sinh sống |
| **city** | thành phố nơi tỷ phú sinh sống |
| **source** | nguồn lợi nhuận của tỷ phú (công ty, doanh nghiệp,...) |
| **industries** | các lĩnh vực kinh doanh hoặc gắn liền lợi ích kinh doanh của tý phú |
| **countryOfCitizenship** | quốc tịch của tỷ phú |
| **organization** | tên của tổ chức hoặc công ty liên kết với tỷ phú |
| **selfMade** | cho biết tỷ phú có tự lập kinh doanh không |
| **status** | cho biết trạng thái của tỷ phú là tự lập kinh doanh (nhà sáng lập/doanh nhân) hoặc được thừa kế tài sản hoặc không kiếm được |
| **gender** | giới tính của tỷ phú |
| **birthDate** | ngày sinh của tỷ phú |
| **lastName** | họ của tỷ phú |
| **firstName** | tên của tỷ phú |
| **title** | danh hiệu của tỷ phú |
| **date** | ngày thu thập dữ liệu |
| **state** | bang nơi tỷ phú sinh sống |
| **residenceStateRegion** | khu vực hoặc tiểu bang cư trú của tỷ phú |
| **birthYear** | năm sinh của tỷ phú |
| **birthMonth** | tháng sinh của tỷ phú |
| **birthDay** | ngày sinh của tỷ phú |
| **cpi_country** | chỉ số giá tiêu dùng (CPI) của quốc gia tỷ phú |
| **cpi_change_country** | CPI thay đổi của quốc gia tỷ phú |
| **gdp_country** | tổng sản phẩm trong nước (GDP) của quốc gia tỷ phú |
| **gross_tertiary_education_enrollment** | tuyển sinh vào giáo dục đại học ở quốc gia tỷ phú |
| **gross_primary_education_enrollment_country** | tuyển sinh vào giáo dục tiểu học ở quốc gia tỷ phú |
| **life_expectancy_country** | tuổi thọ của quốc gia tỷ phú |
| **tax_revenue_country_country** | doanh thu thuế ở quốc gia tỷ phú |
| **total_tax_rate_country** | tổng thuế suất tại quốc gia tỷ phú |
| **population_country** | dân số của quốc gia tỷ phú |
| **latitude_country** | vĩ độ của quốc gia tỷ phú |
| **longitude_country** | kinh độ của quốc gia tỷ phú |

### Mỗi cột hiện đang có kiểu dữ liệu gì?

Xem thử kiểu dữ liệu của các cột dữ liệu.

In [ ]:
billion_df.info()

Như vậy có thể thấy:
- Các cột "age", "birthYear", "birthMonth", "birthDay" đang có kiểu dữ liệu `float`, ta cần chuyển cột này sang kiểu dữ liệu `int`.
- Cột "gender" đang có kiểu dữ liệu `object`, ta cần chuyển cột này sang kiểu dữ liệu `int`.
- Các cột "birthDate" và "date" đang có kiểu dữ liệu `object`, ta cần chuyển các cột này sang kiểu dữ liệu `datetime`.
- Cột "gdp_country" đang có kiểu dữ liệu `object`, ta cần chuyển cột này sang kiểu dữ liệu `int`.
- Cột "population_country" đang có kiểu dữ liệu `float`, ta cần chuyển cột này sang kiểu dữ liệu `int`.

Ta sẽ làm điều này ở bước tiền xử lý dữ liệu.

---

**Tiền xử lý dữ liệu:** Thay đổi kiểu dữ liệu

Thay đổi kiểu dữ liệu của các cột "age", "birthYear", "birthMonth", "birthDay" sang kiểu dữ liệu dạng `int`.

In [ ]:
billion_df[['age', 'birthYear', 'birthMonth', 'birthDay']] = billion_df[['age', 'birthYear', 'birthMonth', 'birthDay']].astype('Int64')

Thay đổi kiểu dữ liệu của cột "gender" sang kiểu dữ liệu dạng `int`. Hiện tại cột này chỉ có 2 giá trị phân biệt. Ta sẽ quy ước cách chuyển đổi như sau:
- "M" (male) -> chuyển thành giá trị 0.
- "F" (female) -> chuyển thành giá trị 1.

In [ ]:
billion_df['gender'] = billion_df['gender'].map({'M': 0, 'F': 1}).astype('int')

Thay đổi kiểu dữ liệu của các cột "birthDate" và "date" sang kiểu dữ liệu dạng `datetime`.

In [ ]:
billion_df['birthDate'] = billion_df['birthDate'].astype('datetime64')
billion_df['date'] = billion_df['date'].astype('datetime64')

Thay đổi kiểu dữ liệu của cột "gdp_country" sang kiểu dữ liệu dạng `int`. Hiện tại các giá trị của cột này có dạng "$1,000,000,000" nên ta sẽ xử lý chuỗi trước.

In [ ]:
billion_df['gdp_country'] = billion_df['gdp_country'].replace('[\$,]', '', regex = True).astype('Int64')

Thay đổi kiểu dữ liệu của cột "population_country" sang kiểu dữ liệu dạng `int`.

In [ ]:
billion_df['population_country'] = billion_df['population_country'].astype('Int64')

Xem thử kiểu dữ liệu của các cột dữ liệu trên.

In [ ]:
billion_df.dtypes

Hiện tại các cột dữ liệu có kiểu dữ liệu đúng, nên ta chỉ chuyển đổi các cột có ít giá trị khác nhau về dạng `category` để tối ưu bộ nhớ và tăng tốc độ xử lý dữ liệu.

Ta sẽ sử dụng phương pháp tìm số lượng giá trị phân biệt của từng cột và chọn lọc những cột có ít giá trị phân biệt nhất để đưa các cột này về kiểu dữ liệu dạng phân loại `category`.

Với mỗi cột đang có kiểu dữ liệu là `object`. Ta sẽ tính số lượng các giá trị khác nhau (không xét giá trị NaN) và lưu vào dataframe `object_col_df`. Sau đó sắp xếp theo thứ tự giảm dần số lượng các giá trị khác nhau "nunique".

In [ ]:
def nunique(s):
  return s.nunique()

object_cols = billion_df.select_dtypes(include = 'object').columns
object_col_df = billion_df[object_cols].agg([nunique]).T.sort_values('nunique', ascending = False)
object_col_df

Từ bảng thống kê trên, ta thấy các cột "category", "industries", "status", "residenceStateRegion" nên đổi thành các cột thuộc dạng phân loại (categorical).

Thay đổi kiểu dữ liệu của các cột "category", "industries", "status", "residenceStateRegion" sang kiểu dữ liệu dạng `category`.

In [ ]:
billion_df[['category', 'industries', 'status', 'residenceStateRegion']] = billion_df[['category', 'industries', 'status', 'residenceStateRegion']].astype('category')

Tương tự như trên, như vậy có thể thấy có một số cột đang có kiểu dữ liệu dạng số number. Ta sẽ sử dụng phương pháp tìm số lượng giá trị phân biệt của từng cột và chọn lọc những cột có ít giá trị phân biệt nhất để đưa các cột này về kiểu dữ liệu dạng phân loại `category`.

Với mỗi cột đang có kiểu dữ liệu dạng số như `int`, `float`. Ta sẽ tính số lượng các giá trị khác nhau (không xét giá trị NaN) và lưu vào dataframe `number_col_df`. Sau đó sắp xếp theo thứ tự giảm dần số lượng các giá trị khác nhau "nunique".

In [ ]:
number_cols = billion_df.select_dtypes(include = 'number').columns
number_col_df = billion_df[number_cols].agg([nunique]).T.sort_values('nunique', ascending = False)
number_col_df

Từ bảng thống kê bên trên, ta có thể thấy cột "birthYear", "birthDay", "birthMonth, "gender" đang có kiểu dữ liệu `int`. Ta cần đưa các cột này về dạng `category`.

In [ ]:
billion_df[['birthYear', 'birthDay', 'birthMonth', 'gender']] = billion_df[['birthYear', 'birthDay', 'birthMonth', 'gender']].astype('category')

Xem lại kiểu dữ liệu của các cột dữ liệu sau khi tiền xử lý.

In [ ]:
billion_df.dtypes

Có vẻ các cột đều có kiểu dữ liệu phù hợp. Nếu trong quá trình phân tích dữ liệu cần phải thay đổi kiểu dữ liệu của các cột thì ta sẽ quay lại tiền xử lý ở đây, tạm thời ta chấp nhận kiểu dữ liệu hiện tại của các cột.

### Với mỗi cột có kiểu dữ liệu dạng số (numerical), các giá trị được phân bố như thế nào?

Với mỗi cột numerical, ta sẽ tính số lượng giá trị thiếu, tỉ lệ % giá trị thiếu (từ 0 đến 100), số lượng giá trị xuất hiện (count), giá trị nhỏ nhất (min), giá trị trung bình (mean), giá trị trung vị (median), giá trị lớn nhất (max), các khoảng tứ phân vị (Q1, Q3) và độ lệch chuẩn (std). Sau đó ta sẽ lưu các giá trị này vào dataframe `numerical_col_df` thành 10 dòng là "num_missing_val", "ratio_missing_val", "count", "min", "mean", "median", "max", "Q1", "Q3", "std".

In [ ]:
def num_missing_val(s):
  return s.isna().sum()
def ratio_missing_val(s):
  return s.isna().mean() * 100
def count(s):
  return s.count();
def Q1(s):
  return s.quantile(0.25)
def Q3(s):
  return s.quantile(0.75)

numerical_cols = billion_df.select_dtypes(include = 'number').columns
numerical_col_df = billion_df[numerical_cols].agg([num_missing_val, ratio_missing_val, count, min, np.mean, np.median, max, Q1, Q3, np.std]).round(3).T
numerical_col_df[['num_missing_val', 'count']] = numerical_col_df[['num_missing_val', 'count']].astype(int)
numerical_col_df

Ta rút ra được các kết luận sau:
- Các cột "rank" và "finalWorth" không có xuất hiện các giá trị bị thiếu, trong khi các cột còn lại có xuất hiện giá trị bị thiếu với tỉ lệ từ **6.212%** đến **6.97%** và riêng cột "age" có giá trị bị thiếu với tỉ lệ **2.462%**. Ta sẽ tiền xử lý giá trị bị thiếu của cột này ở các bước sau.
- Cột "rank" có giá trị thấp nhất (min) là **1** và giá trị cao nhất (max) là **2540**, tức là bộ dữ liệu trên chỉ thu thập từ tỷ phú xếp hạng 1 đến hạng 2540 về mức độ giàu có. Ta thấy dữ liệu có tổng cộng **2640** dòng nên điều này có nghĩa là bảng xếp hạng này có thể xét đến trường hợp đồng hạng nhau của các tỷ phú.
- Cột "age" có giá trị trung bình là **65.14**, điều này có nghĩa tuổi thọ trung bình của các tỷ phú là khoảng **65** tuổi. Tỷ phú trẻ tuổi nhất là **18** tuổi (theo giá trị nhỏ nhất) và tỷ phú lớn tuổi nhất là **101** tuổi (theo giá trị lớn nhất).
- Cột "cpi_change_country" có chứa giá trị âm **(min = -1.9)**, điều này có nghĩa CPI thay đổi của từng quốc gia có thể tăng hoặc giảm so với năm trước (2022), nếu giá trị âm có nghĩa là đang giảm và ngược lại nếu giá trị dương có nghĩa là đang tăng.

### Với mỗi cột có kiểu dữ liệu dạng phân loại (categorical), các giá trị được phân bố như thế nào?

Với mỗi cột categorical, ta sẽ tính số lượng giá trị thiếu, tỉ lệ % giá trị thiếu (từ 0 đến 100), số lượng giá trị xuất hiện (count), giá trị xuất hiện nhiều nhất (mode), số lượng giá trị xuất hiện nhiều nhất (không xét giá trị NaN), số lượng các giá trị khác nhau (không xét giá trị NaN) và danh sách các giá trị khác nhau (không xét giá trị NaN). Sau đó ta sẽ lưu các giá trị này vào dataframe `categorical_col_df` thành 7 dòng là "num_missing_val", "ratio_missing_val", "count", "top", "freq", "nunique", "unique".

In [ ]:
def unique(s):
  return s.dropna().astype('object').unique()
def top(s):
  return s.mode()[0]
def freq(s):
  return (s == s.mode()[0]).value_counts()[True]

categorical_cols = billion_df.select_dtypes(exclude = 'number').columns
categorical_col_df = billion_df[categorical_cols].agg([num_missing_val, ratio_missing_val, count, top, freq, nunique, unique]).T
categorical_col_df[['num_missing_val', 'count']] = categorical_col_df[['num_missing_val', 'count']].astype(int)
categorical_col_df

Ta rút ra được các kết luận sau:
- Một số cột có giá trị bị thiếu khá ít **(1.44% - 2.879%)** chẳng hạn "country", "city" "birthDate", "birthYear", "birthMonth", "birthDay". Ta để ý thấy số lượng các cột bị thiếu của cột "birthDate" (**76** cột) bằng với các cột "birthYear", "birthMonth", "birthDay", điều này cũng dễ hiểu.
- Có một số cột có giá trị bị thiếu khá nhiều như "organization", "title", "state", "residenceStateRegion" (**trên 1800** dòng). Đối với cột "state" và "residenceStateRegion" chỉ có ý nghĩa khi quốc tịch của các tỷ phú là ở United States. Ta sẽ tìm cách xử lý chúng ở bước tiền xử lý dữ liệu.
- Ở cột "category" và "industries" đều có số lượng giá trị phân biệt (unique) là **18** loại và các giá trị phân biệt này có vẻ giống nhau. Ta có thể loại bỏ đi cột "category" ở bước tiền xử lý dữ liệu.
- Ở cột "date" chỉ có 2 giá trị phân biệt, điều này cho ta biết ngày thu thập dữ liệu chính xác là "2023/04/04" và được thu thập vào lúc "05:01" và "09:01".
- Quốc gia có nhiều tỷ phú nhất là **United States**, lĩnh vực kinh doanh nhiều nhất là **Finance & Investments**, tổ chức có nhiều tỷ phú nhất là **Meta Platforms**, danh hiệu có nhiều tỷ phú nhất là **Investor**.

---

**Tiền xử lý dữ liệu:** Loại bỏ các cột không cần thiết

Loại bỏ các cột "firstName" và "lastName" vì 2 cột này đều được tách ra từ cột "personName".

In [ ]:
billion_df.drop(columns = ['firstName', 'lastName'], inplace = True)

Loại bỏ cột "category" vì ý nghĩa của cột "category" và "industries" là giống nhau như đã giải thích ở trên.

In [ ]:
billion_df.drop(columns = ['category'], inplace = True)

In [ ]:
billion_df.shape

Sau khi loại bỏ 3 cột trên, tập dữ liệu có kích thước **2640 dòng x 32 cột**.

## C. TRỰC QUAN HÓA DỮ LIỆU

### Độ tuổi trung bình của các tỷ phú trên thế giới là bao nhiêu?

Để trả lời cho câu hỏi này, ta sẽ dùng biểu đồ cột để thể hiện số lượng tỷ phú trên thế giới theo từng độ tuổi. Trong đó:
- Trục hoành: thể hiện tuổi (age).
- Trục tung: thể hiện số người theo từng độ tuổi.

In [ ]:
temp_billion_df = billion_df.copy()
temp_billion_df['age'] = temp_billion_df['age'].astype('category')
fig, ax = plt.subplots(figsize = (24, 8))
sns.countplot(data = temp_billion_df, x = 'age', ax = ax)
ax.bar_label(ax.containers[0], fontsize = 8)
ax.set_xticklabels(ax.get_xticklabels(), rotation = 90, fontsize = 8)
plt.title('Biểu đồ thể hiện số lượng tỷ phú trên thế giới theo từng độ tuổi')
plt.xlabel('Tuổi')
plt.ylabel('Số người')
plt.show()

**Nhận xét:** Quan sát biểu đồ trên, ta nhận thấy:
- Trung bình từ độ tuổi **55 đến 73 tuổi** là độ tuổi có nhiều người tỷ phú nhất. Đây được cho là độ tuổi của những người có nhiều kinh nghiệm nhất.
- Tỷ phú trẻ tuổi nhất là **18 tuổi** và tỷ phú lớn tuổi nhất là **101 tuổi**.

Giả sử nếu ta chia độ tuổi của tỷ phú thành 2 loại: "Tỷ phú dưới 50 tuổi" và "Tỷ phú trên hoặc bằng 50 tuổi". Ta sẽ dùng biểu đồ tròn để thể hiện điều này. Trong đó:
- Màu xanh: thể hiện số lượng tỷ phú có độ tuổi dưới 50.
- Màu cam: thể hiện số lượng tỷ phú có độ tuổi trên hoặc bằng 50.

In [ ]:
group_age_billion_df = pd.Series([billion_df[billion_df['age'] < 50].shape[0], billion_df[billion_df['age'] >= 50].shape[0]])
fig, ax = plt.subplots(figsize = (8, 8))
ax.pie(group_age_billion_df, labels = ['< 50 tuổi', '>= 50 tuổi'], colors = sns.color_palette('pastel'), autopct = '%1.1f%%')
ax.set_title('Biểu đồ thể hiện tỉ lệ về độ tuổi của tỷ phú theo 2 nhóm')
ax.legend()
plt.show()

**Nhận xét:** Quan sát biểu đồ trên, ta nhận thấy có **89%** những người tỷ phú đều trên hoặc bằng 50 tuổi, còn lại chỉ **11%** những người tỷ phú có độ tuổi nhỏ hơn 50 tuổi.

### Có nhiều tỷ phú xuất thân tự kinh doanh không giữa nam và nữ?

Để trả lời cho câu hỏi này, ta sẽ dùng 2 loại biểu đồ tròn để thể hiện điều này. Trong đó:
- Màu xanh: thể hiện số lượng tỷ phú có giới tính nam.
- Màu cam: thể hiện số lượng tỷ phú có giới tính nữ.

Mỗi biểu đồ sẽ thể hiện số lượng tỷ phú có tự lập kinh doanh (bên trái) và số lượng tỷ phú không có tự lập kinh doanh (bên phải).

In [ ]:
selfmade_billion_df = billion_df[billion_df['selfMade'] == True]
non_selfmade_billion_df = billion_df[billion_df['selfMade'] == False]
fig, ax = plt.subplots(1, 3, figsize = (26, 8))
ax[0].pie(billion_df['selfMade'].value_counts(), labels = ['True', 'False'], colors = sns.color_palette('pastel'), autopct = '%1.1f%%')
ax[0].set_title('Biểu đồ thể hiện tỉ lệ giữa tỷ phú có tự lập kinh doanh và không có tự lập kinh doanh')
ax[0].legend()
ax[1].pie(selfmade_billion_df['gender'].value_counts(), labels = ['Male', 'Female'], colors = sns.color_palette('pastel'), autopct = '%1.1f%%')
ax[1].set_title('Biểu đồ thể hiện tỉ lệ giữa nam và nữ tỷ phú có tự lập kinh doanh')
ax[1].legend()
ax[2].pie(non_selfmade_billion_df['gender'].value_counts(), labels = ['Male', 'Female'], colors = sns.color_palette('pastel'), autopct = '%1.1f%%')
ax[2].set_title('Biểu đồ thể hiện tỉ lệ giữa nam và nữ tỷ phú không có tự lập kinh doanh')
ax[2].legend()
plt.show()

**Nhận xét:** Quan sát biểu đồ trên, ta nhận thấy:
- Đa số khoảng **68.6%** tỷ phú trên thế giới xuất thân từ việc tự kinh doanh.
- Đối với những người tỷ phú xuất thân từ việc tự kinh doanh, có thể thấy tỉ lệ nam tỷ phú chiếm áp đảo **(~94.7%)** so với nữ tỷ phú.
- Trong khi đó những người không xuất thân từ việc tự kinh doanh cho thấy nam tỷ phú chỉ chiếm **khoảng 2.4 lần** so với nữ tỷ phú, tuy nhiên trên tỉ lệ giới tính nam là tỷ phú vẫn thống trị phân bố.

### Hiện nay các tỷ phú tập trung nhiều ở các quốc gia nào?

Để trả lời cho câu hỏi này, ta sẽ dùng biểu đồ map để thể hiện phân bố về các quốc gia mà các tỷ phú đang sinh sống. Trong đó, ta dùng vòng tròn biểu thị màu sắc từ tím tới vàng và kích thước vòng tròn càng lớn đều thể hiện số lượng tỷ phú đang sinh sống ở quốc gia đó theo hướng tăng dần.

In [ ]:
with urlopen('https://raw.githubusercontent.com/vt-khang/UDPTDLTM-PersonalProject/main/countries.geojson') as response:
  countries = json.load(response)
for i in range(0, len(countries['features'])):
  temp_country = countries['features'][i]
  countries['features'][i] |= { 'id': temp_country['properties']['ISO_A3'] }

geometry_df = pd.DataFrame(columns = ['country', 'ISO_A3', 'ISO_A2'])
for country in countries['features']:
  properties_object = country['properties']
  properties_object['country'] = properties_object.pop('ADMIN')
  geometry_df = pd.concat([geometry_df, pd.DataFrame.from_records([properties_object])], ignore_index = True)

rename_country_dict = { 'Bahamas': 'The Bahamas',
                      'Eswatini (Swaziland)': 'Swaziland',
                      'Hong Kong': 'Hong Kong S.A.R.',
                      'Tanzania': 'United Republic of Tanzania',
                      'United States': 'United States of America' }

In [ ]:
country_cols = ['country', 'cpi_country', 'cpi_change_country', 'gdp_country', 'gross_tertiary_education_enrollment', 'gross_primary_education_enrollment_country',
                'life_expectancy_country', 'tax_revenue_country_country', 'total_tax_rate_country', 'population_country', 'latitude_country', 'longitude_country']
country_billion_df = billion_df['country'].value_counts().reset_index()
country_billion_df.columns = ['country', 'count']
country_billion_df = pd.merge(country_billion_df, billion_df[country_cols].drop_duplicates(), on = 'country', how = 'inner')
country_billion_df['country'] = country_billion_df['country'].replace(rename_country_dict)
country_billion_df = pd.merge(country_billion_df, geometry_df, on = 'country', how = 'inner')

fig = px.choropleth_mapbox(country_billion_df, geojson = countries, locations = 'ISO_A3', color = 'count', color_continuous_scale = "Viridis", hover_name = 'country', title = 'Biểu đồ phân bố về các quốc gia nơi tỷ phú đang sinh sống', mapbox_style = 'carto-positron', zoom = 3, opacity = 0.5)
fig.update_layout(margin = { "r": 0, "t": 0, "l": 0, "b": 0 })
fig.show()

**Nhận xét:** Quan sát biểu đồ trên, ta nhận thấy:
- Mỹ, Trung Quốc, Ấn Độ, Đức, Anh, Nga là các nước có nhiều tỷ phú sinh sống nhất trên thế giới. Trong đó, riêng Mỹ có tới **754** người đang sinh sống và Trung Quốc có tới **523** người đang sinh sống.
- Ngoài ra, có khá nhiều nước ở khu vực châu Phi không có nhiều tỷ phú sinh sống, nếu có thường **không quá 5 người**. Có thể do điều kiện khí hậu ở đây khắc nghiệt hơn chăng.

### Lĩnh vực nào có nhiều nhà tỷ phú đầu tư nhất?

Để trả lời cho câu hỏi này, ta sẽ dùng biểu đồ cột ngang để thể hiện số lượng tỷ phú trên thế giới theo từng lĩnh vực kinh doanh. Trong đó:
- Trục tung: thể hiện tên lĩnh vực kinh doanh (industries).
- Trục hoành: thể hiện số người tương ứng.

In [ ]:
fig, ax = plt.subplots(figsize = (24, 8))
sns.countplot(data = billion_df, y = 'industries', order = billion_df['industries'].value_counts().index, ax = ax)
ax.bar_label(ax.containers[0], fontsize = 8)
plt.title('Biểu đồ thể hiện số lượng tỷ phú trên thế giới theo từng lĩnh vực kinh doanh')
plt.xlabel('Số người')
plt.ylabel('Lĩnh vực kinh doanh')
plt.show()

**Nhận xét:** Quan sát biểu đồ trên, ta nhận thấy lĩnh vực được đầu tư nhiều nhất là "Finance & Investments" (Tài chính & Đầu tư) với **372** người, theo sau đó là "Manufacturing" (Sản xuất) và "Technology" (Công nghệ). Có vẻ như ngành "Gambling & Casinos" (Cờ bạc & Sòng bạc) ít được chú ý tới đối với các tỷ phú.

Tương tự, ta cũng sẽ dùng thêm một biểu đồ cột ngang để thể hiện tổng giá trị tài sản ròng của các tỷ phú trên thế giới theo từng lĩnh vực kinh doanh. Trong đó:
- Trục tung: thể hiện tên lĩnh vực kinh doanh (industries).
- Trục hoành: thể hiện tổng giá trị tài sản ròng (finalWorth).

In [ ]:
final_worth_industry_billion_df = billion_df.copy()
final_worth_industry_billion_df = final_worth_industry_billion_df.groupby(['industries']).sum(numeric_only = True).reset_index()
fig, ax = plt.subplots(figsize = (24, 8))
sns.barplot(data = final_worth_industry_billion_df, x = 'finalWorth', y = 'industries', order = final_worth_industry_billion_df.sort_values('finalWorth', ascending = False)['industries'], ax = ax)
ax.bar_label(ax.containers[0], fontsize = 8)
plt.title('Biểu đồ thể hiện tổng giá trị tài sản ròng của các tỷ phú trên thế giới theo từng lĩnh vực kinh doanh')
plt.xlabel('Tài sản (triệu đô-la Mỹ)')
plt.ylabel('Lĩnh vực kinh doanh')
plt.show()

**Nhận xét:** Quan sát biểu đồ trên, ta nhận thấy lĩnh vực có nhiều giá trị tài sản nhất ở đây lại là "Technology" (Công nghệ). Ngược lại, lĩnh vực có ít giá trị tài sản là "Construction & Engineering" (Kiến trúc & Kỹ thuật), theo sau đó là "Gambling & Casinos" (Cờ bạc & Sòng bạc).

### Có sự khác nhau về lĩnh vực kinh doanh giữa tỷ phú nam và nữ không?

Để trả lời cho câu hỏi này, ta sẽ dùng 2 biểu đồ cột ngang để thể hiện số lượng tỷ phú trên thế giới (nam và nữ) theo từng lĩnh vực kinh doanh. Trong đó:
- Trục tung: thể hiện tên lĩnh vực kinh doanh (industries).
- Trục hoành: thể hiện số người tương ứng.

In [ ]:
men_industry_df = billion_df[billion_df['gender'] == 0]
women_industry_df = billion_df[billion_df['gender'] == 1]
fig, ax = plt.subplots(1, 2, figsize = (36, 12))
sns.countplot(data = men_industry_df, y = 'industries', order = men_industry_df['industries'].value_counts().index, ax = ax[0])
ax[0].bar_label(ax[0].containers[0], fontsize = 8)
ax[0].set_title('Biểu đồ thể hiện số lượng tỷ phú nam trên thế giới theo từng lĩnh vực kinh doanh')
ax[0].set_xlabel('Số người')
ax[0].set_ylabel('Lĩnh vực kinh doanh')
sns.countplot(data = women_industry_df, y = 'industries', order = women_industry_df['industries'].value_counts().index, ax = ax[1])
ax[1].bar_label(ax[1].containers[0], fontsize = 8)
ax[1].set_title('Biểu đồ thể hiện số lượng tỷ phú nữ trên thế giới theo từng lĩnh vực kinh doanh')
ax[1].set_xlabel('Số người')
ax[1].set_ylabel('Lĩnh vực kinh doanh')
plt.show()

**Nhận xét:** Quan sát biểu đồ trên, ta nhận thấy:
- Lĩnh vực được nhiều tỷ phú nam đầu tư nhất là "Finance & Investments" (Tài chính & Đầu tư).
- Trong khi đó, lĩnh vực được nhiều tỷ phú nữ đầu tư nhất lại là "Food & Beverage" (Thực phẩm & Nước giải khát). Không có nữ tỷ phú nào trong bảng xếp hạng đầu tư về lĩnh vực "Telecom" (Viễn thông).

### Giá trị tài sản ròng của các tỷ phú được phân bố như thế nào theo quốc tịch?

Để trả lời cho câu hỏi này, ta sẽ dùng biểu đồ map để thể hiện phân bố về tổng giá trị tài sản ròng của các tỷ phú theo quốc tịch. Trong đó, ta dùng vòng tròn biểu thị màu sắc từ tím tới vàng và kích thước vòng tròn càng lớn đều thể hiện giá trị tài sản ròng tại quốc gia đó càng cao.

In [ ]:
country_citizenship_billion_df = billion_df.groupby(['countryOfCitizenship']).sum(numeric_only = True).reset_index()
country_citizenship_billion_df['countryOfCitizenship'] = country_citizenship_billion_df['countryOfCitizenship'].replace(rename_country_dict)
country_citizenship_billion_df = pd.merge(country_citizenship_billion_df.rename(columns = { 'countryOfCitizenship': 'country' }), geometry_df, on = 'country', how = 'inner')

fig = px.choropleth_mapbox(country_citizenship_billion_df, geojson = countries, locations = 'ISO_A3', color = 'finalWorth', color_continuous_scale = "Viridis", hover_name = 'country', title = 'Biểu đồ phân bố về tổng giá trị tài sản ròng của các tỷ phú theo quốc tịch', mapbox_style = 'carto-positron', zoom = 3, opacity = 0.5)
fig.update_layout(margin = { "r": 0, "t": 0, "l": 0, "b": 0 })
fig.show()

**Nhận xét:** Quan sát biểu đồ trên, ta nhận thấy rằng Mỹ đứng đầu thế giới về tổng giá trị tài sản ròng của các tỷ phú **(4490800 triệu đô la Mỹ)**. Tiếp theo là Trung Quốc đứng thứ 2 **(1648300 triệu đô la Mỹ)** và Ấn Độ đứng thứ 3 **(674000 triệu đô la Mỹ)**.

Tiếp theo, ta sẽ dùng biểu đồ histogram để thể hiện phân bố của tài sản ròng của các tỷ phú. Trong đó:
- Trục hoành: thể hiện giá trị tài sản ròng (từ 1000 đến hơn 100000) (finalWorth).
- Trục tung: thể hiện số người tương ứng.

In [ ]:
fig, ax = plt.subplots(figsize = (16, 6))
sns.histplot(billion_df, x = 'finalWorth', log_scale = True)
plt.title('Biểu đồ thể hiện phân bố của tài sản ròng của các tỷ phú')
plt.xlabel('Tài sản ròng')
plt.ylabel('Số lượng')
plt.show()

In [ ]:
numerical_col_df.loc['finalWorth']

**Nhận xét:** Quan sát biểu đồ trên, ta nhận thấy khi đồ thị lệch phải nghĩa là giá trị tài sản ròng của các tỷ phú tập trung chủ yếu không trên giá trị trung bình **(mean = 4623.788)**. Giá trị tối thiểu (min) của tài sản ròng đạt **1000** và giá trị tối đa (max) của tài sản ròng đạt **211000**.

## D. RÚT RA KẾT LUẬN

1. Độ tuổi trung bình của một tỷ phú là **65 tuổi**. Tỷ phú trẻ tuổi nhất là **18 tuổi** và tỷ phú lớn tuổi nhất là **101 tuổi**.
2. Có đến **89%** những người tỷ phú đều trên hoặc bằng 50 tuổi, còn lại chỉ **11%** những người tỷ phú có độ tuổi nhỏ hơn 50 tuổi.
3. Đa số khoảng **68.6%** tỷ phú trên thế giới xuất thân từ việc tự kinh doanh. Trong đó tỉ lệ nam tỷ phú chiếm áp đảo **(~94.7%)** so với nữ tỷ phú.
4. **Mỹ** hiện tại là đất nước có nhiều tỷ phú đang sinh sống, sau đó là **Trung Quốc, Ấn Độ, Đức, Anh, Nga**. Châu Phi không có nhiều điều kiện thích hợp nên có ít tỷ phú sinh sống ở đây.
5. Lĩnh vực được đầu tư nhiều nhất là "Finance & Investments" (Tài chính & Đầu tư) với **372** người và lĩnh vực ít được đầu tư nhất là "Gambling & Casinos" (Cờ bạc & Sòng bạc) đối với các tỷ phú.
6. Tuy nhiên lĩnh vực có nhiều giá trị tài sản nhất ở đây lại là "Technology" (Công nghệ). Ngược lại, lĩnh vực có ít giá trị tài sản là "Construction & Engineering" (Kiến trúc & Kỹ thuật), theo sau đó là "Gambling & Casinos" (Cờ bạc & Sòng bạc).
7. Lĩnh vực được nhiều tỷ phú nam đầu tư nhất là "Finance & Investments" (Tài chính & Đầu tư). Trong khi đó, lĩnh vực được nhiều tỷ phú nữ đầu tư nhất lại là "Food & Beverage" (Thực phẩm & Nước giải khát). Không có nữ tỷ phú nào trong bảng xếp hạng đầu tư về lĩnh vực "Telecom" (Viễn thông).
8. Mỹ đứng đầu thế giới về tổng giá trị tài sản ròng của các tỷ phú **(4490800 triệu đô la Mỹ)**. Tiếp theo là Trung Quốc đứng thứ 2 **(1648300 triệu đô la Mỹ)** và Ấn Độ đứng thứ 3 **(674000 triệu đô la Mỹ)**.
9. Tài sản ròng của các tỷ phú trung bình khoảng **4623.788**. Giá trị tối thiểu của tài sản ròng đạt **1000** và giá trị tối đa của tài sản ròng đạt **211000**.